<h1><%= @topic.id ? "Edit Item" : "New Item" %></h1>
<hr />
<%= form_for [@sub, @topic] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true, placeholder: "Name" %>
  <br />
  <%= f.label :body %>
  <%= f.text_area :body, required: true, placeholder: "Body..." %>
  <br />
  <%= f.submit %>
<% end %>